import os

# Spreadsheet settings
SPREADSHEET_ID = ''
SPREADSHEET_DATA_RANGE = ''

# API settings
API_KEY = ""
LOCALE_AUCTION = "en_GB"
LOCALE_ITEM = "en_US"
DEFAULT_REALM = "Stormscale"
DEFAULT_USER = "Maldark"

# Save files settings
SAVE_DIR_JSON = os.path.dirname(os.path.realpath(__file__)) # Change to absolute path or keep as is for current directory